@font-face {
    font-family: Lato;
    src: url(../src/font/Lato/Lato-Light.ttf);
}
@font-face {
    font-family: Ubunto;
    src: url(../src/font/Ubuntu/Ubuntu-Bold.ttf);
}

@font-face {
    font-family: Ubunto-Medio;
    src: url(../src/font/Ubuntu/Ubuntu-Medium.ttf);
}


* {
    margin: 0px;
    padding: 0%;
    max-width: 100%;
    color: #ffffff;
}

.main {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.left {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    background-color: #111111;
}

.logo {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    top: 5%;
    position: absolute;
    flex-direction: column;
}

.titulo {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}

.titulo h1 {
    font-size: 30px;
}

.titulo p {
    margin-top: 10px;
    font-size: 13px;
}

.right {
    width: 50%;
    height: 100vh;
    background-color: #111111;
    background-image: url(../img/Group3.svg);
    background-size: cover;
}

.container-inputs {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-inputs input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    border: 0.8px solid #9598C1;
    color: #9598C1;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    background: #111;
    padding:10px;
}

.inputs {
    margin-top: 20px;
}

.esqueceu_senha {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 15px;
}
.semconta{
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: Lato;
    margin-top:20%;
}
.login{
    margin-top: 30px;
}
.login button{
    width: 415px;
    height: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #7449EB;
    border: none;
    transition: transform 0.5s;
}
.login button:hover{
    cursor: pointer;
    transform: scale(1.1);
}