
.divisao1{
    position: absolute;
    top: 97vh;
    display: flex;
    width: 100%;
    z-index: 10;

    
}
.divisao2{
    position: absolute;
    top: 197vh;
    display: flex;
    width: 100%;
    z-index: 10;

    
}
.divisao3{
    position: absolute;
    top: 297vh;
    display: flex;
    width: 100%;
    z-index: 10;

    
}


  
.tela3{
    height: 100vh;
    width: 100%;
    display: flex;
   background-color: #111111;
    align-items: center;
    flex-direction: column;
    gap: 3%;
}
.backgroundCarrossel{
    position: absolute;
    top: 200%;
    right: -3%;
    width: 50%;
    height: 100vh;
    background-image: url(../img/Banner\ sessao\ beneficiosbackgroundS3.svg);
    background-repeat: no-repeat;
    z-index: 1;

}
.boxTopCarrossel{
    height: 25%;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: left;
}
.boxTituloCarrossel{
    height: 100%;
    width: 35%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.tituloBeneficiosCarrossel{
 height: 50%;
 width: 80%;

 display: flex;
 justify-content: left;
 align-items: center;
 font-family: "Lato", sans-serif;
 color: white;
 font-size: 3.5rem;
 font-weight: 300;
 font-style: normal;
 position: relative;
 top: 10%;

}
.nomeEmpresaCarrossel{
    height: 50%;
    width: 80%;
  
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-size: 64px;
    font-style: normal;
    color: #7449EB;
    position: relative;

}
.boxLogoCarrossel{
    width: 30%;
    height:100%;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 5;
   

}
.LogoBeneficios{
    margin-top: 5%;
    width: 25%;
}
.boxCarrossel{
    width: 100%;
    height: 50%;
    display: flex;   
    justify-content: center;
    align-items: center;
    background-color: #3d3d3d1f;
    z-index: 4;
    gap: 7%;
    backdrop-filter: blur(4px);
     
    scrollbar-color: rgb(255, 255, 255) #111111; /* Cor do "polegar" e da área de rastreamento */
    
  

}


.card{
    height: 70%;
    flex: 0 0 18%;

    border-radius: 2%;
    background-color: #2999C7;
    /* border: 5px solid white;
    animation: bordas infinite 10s linear; */

}

.card:hover{
    height: 80%;
    flex: 0 0 20%;
    transition: 0.5s;

    border-radius: 2%;
    background-color: #2999C7;
    /* border: 5px solid white;
    animation: bordas infinite 10s linear; */

}
.card:hover .conteudoCard p{
display: flex;

}


/* @keyframes bordas {
    0%{
        border: 5px solid rgb(0, 229, 255);

    }
    25%{
        border: 5px solid rgb(55, 0, 255);
    }
    50%{
        border: 5px solid rgb(144, 0, 255);
    }
    75%{
        border: 5px solid rgb(193, 140, 233);
    }
} */


.ilustracaoCard{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Gradient.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 2%; 
    border-top-right-radius: 2%; 
}
.conteudoCard{
    height: 40%;
    width: 100%;
    padding-top: 8%;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 2%; 
    border-bottom-right-radius: 2%; 
    overflow: hidden;
   

}

.conteudoCard h3{
    margin-top: -5% ;
    font-family: "Lato", sans-serif;
    padding-top: 5%;
    color: white;
    font-size: 1.5rem;

}

.conteudoCard p{
 display: none;
    margin-top: 5% ;
    font-family: "Lato", sans-serif;
    padding: 5%;
    color: white;
    font-size: 1rem;

}
.conteudoCard:hover{
   transform: rotateY('angle');
   transition: 1S;
    height: auto;
    width: 100%;
    background-color: #2999C7;
  left: 20%;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 5%; 
    border-bottom-right-radius: 5%; 
    color: black;
   

    

}
.cardCelular{
    display: none;
}

.imgCard{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: top;
}

@media only screen and (max-device-width: 900px) {
    .boxCarrossel{
        height: 50%;
        display: flex;   
        justify-content: center;
        align-items: center;
        flex-direction: column;
       
       
        width: 80%;
        background-color: #3d3d3d1f;
        z-index: 4;
        gap: 7%;
        backdrop-filter: blur(4px);
        scrollbar-color: rgb(255, 255, 255) #111111; /* Cor do "polegar" e da área de rastreamento */
    }
    
.card{
    height: 30%;
   width: 200%;
    border-radius: 2%;
    background-color: #2999C7;
    flex-direction: row;
    /* border: 5px solid white;
    animation: bordas infinite 10s linear; */
    
}

.card:hover{
    height: 30%;
    flex: 0 0 20%;
    transition: 0.5s;

    border-radius: 2%;
    background-color: #2999C7;
    /* border: 5px solid white;
    animation: bordas infinite 10s linear; */

}
.card:hover .conteudoCard:hover{
    height: auto;
}
.imgCard{
    width: 15%;
}
.conteudoCard{
    height: 100%;
    display: flex;
    font-size: 0.2rem;
    z-index: 1;
   

}


.ilustracaoCard{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Gradient.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 2%; 
    border-top-right-radius: 2%; 
}
.tela3{
    height: 100vh;

}
.backgroundCarrossel{

    display: none;

}
}
@media (max-width:1366px) {
   .tituloBeneficiosCarrossel{
    font-size: 3rem;

   }
.nomeEmpresaCarrossel{
    font-size: 2.5rem;
}
.card{
    height: 60%;
}
.card H3{
    font-size: 1rem;
    
}
}


/* Celular */
@media only screen and (max-device-width:430px) {
  .divisao1{
    top: 100vh;
  }
  .divisao2{
top: 200vh;
  }
  .divisao3{
top: 300vh;
  }
  .boxLogoCarrossel{
    display: none;
  }
  .boxTopCarrossel{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5%;
  }
  .boxTituloCarrossel{
   
width: 80%;
display: flex;
justify-content: center;
align-items: center;
  }
  .tituloBeneficiosCarrossel{
    width: auto;

  }
  .nomeEmpresaCarrossel{
 width: auto;
  }
  .boxCarrossel{
    width: 80%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60%;
    position: relative;
    top: 10%;
 
  }
  .cardCelular{
    width: 35%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    background-color: #2999C7;
    font-family: Lato;
    border-radius: 5px;
  }
  .imgCardCelular{
    width: 30px;
    display: flex;
   
  }
  .ilustracaoCelular{
background-image: url(../img/Gradient.svg);
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
border-radius: 5px;

  }
  .cardCelular:hover{
    transition: 0.2s;
    justify-content: space-around;
    width: 80%;
    height: 50%;
    gap: 5%;
  }
  .conteudoCelular{
    display: none;
    width: 80%;
    height: 100%;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding-right: 5px;
    padding-top: 5px;
    overflow: hidden;
    gap: 5%;
  }
  .conteudoCard p{
    font-size: 2rem;
  }
  
  .cardCelular:hover .conteudoCelular{
    display: flex;

  }
  .cardCelular:hover .ilustracaoCelular{
    width: 20%;
    border-radius: 0;
  }
  .card{
   display: none;
  }
  .conteudoCard{
    overflow: hidden;

  }
  .conteudoCard p{
display: none;
  }
}