@font-face {
    font-family: Lato;
    src: url(../../src/font/Lato/Lato-Light.ttf);
}

@font-face {
    font-family: LatoBold;
    src: url(../../src/font/Lato/Lato-Bold.ttf);
}

@font-face {
    font-family: Ubunto;
    src: url(../../src/font/Ubuntu/Ubuntu-Bold.ttf);
}

@font-face {
    font-family: Ubunto-Medio;
    src: url(../../src/font/Ubuntu/Ubuntu-Medium.ttf);
}

body {
    background-color: #111111;
}

* {
    margin: 0px;
    padding: 0%;
    max-width: 100%;
    color: #ffffff;
}

.main {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
}

.cadastrarLogin {
    width: 70%;
    height: 80%;
    border-radius: 10px;
    background: rgb(77, 20, 199);
    background: linear-gradient(177deg, rgba(77, 20, 199, 1) 0%, rgba(90, 35, 163, 1) 44%, rgba(97, 61, 201, 1) 98%);
    font-family: Lato;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3%;
    justify-content: space-around;
}

.conteudoRight {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
}

.bemvindoP {
    font-size: 30px;
    font-weight: bold;
}

.bemvindoP2 {
    font-size: 30px;
    font-weight: bold;
    margin-top: -10%;
}

.textoRight {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.imgDash {
    width: 90%;
}

.left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111111;
}

.logo {
    display: flex;
    justify-content: center;
    margin-left: 15px;
}

.container {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    height: 95%;
    bottom: 0;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}

.titulo h1 {
    font-size: 36px;
    font-family: LatoBold;
}

.titulo p {
    margin-top: 19px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    font-family: LatoBold;
}

.left {
    display: flex;
    width: 50%;
    height: 100vh;
    background-color: #111111;
}

.container-inputs {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-inputs input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    border: 0.8px solid #9598C1;
    color: #9598C1;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    background: #1111;
    padding: 10px;
}

.inputs {
    margin-top: 12px;
}

.inputs p {
    font-family: LatoBold;
    margin-bottom: 12px;
}

.esqueceu_senha {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 15px;
}

.semconta {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: Lato;
    margin-top: 3%;
}

.semconta a {
    text-decoration: none;
    color: #3594BB;
    margin-left: 2px;
}

.login {
    margin-top: 30px;
}

.login button {
    width: 530px;
    height: 50px;
    font-family: Ubunto;
    background-color: #7449EB;
    border: none;
    transition: transform 0.5s;
    cursor: pointer;
}

/* tirando o spinner da input tipo Number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media screen and (max-width: 1366px) {

    .right {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        background-color: #111111;
    }

    .logo {
        display: flex;
        justify-content: center;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        flex-direction: column;
    }

    .titulo {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 5px;
    }

    .titulo h1 {
        font-size: 36px;
        font-family: LatoBold;
    }

    .titulo p {
        margin-top: 19px;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
        font-family: LatoBold;
    }

    .left {
        display: flex;
        width: 50%;
        height: 100vh;
        background-repeat: no-repeat;
        background-color: #111111;
        background-image: url(../img/fundo-login.svg);
        background-size: cover;
        background-position: center;

    }

    .container-inputs {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: Lato;
        font-weight: bold;
        width: auto;
    }

    .container-inputs input {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 450px;
        border: 0.8px solid #9598C1;
        color: #9598C1;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: bold;
        background: #1111;
        padding: 15px;
    }

    .inputs {
        margin-top: 10px;
    }

    .inputs p {
        font-family: LatoBold;
        margin-bottom: 15px;
    }

    .semconta {
        display: flex;
        width: 100%;
        justify-content: center;
        font-family: Lato;
        margin-top: 3%;
    }

    .semconta a {
        text-decoration: none;
        color: #3594BB;
        margin-left: 2px;
    }

    .login {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login button {
        width: 480px;
        height: 50px;
        font-family: Ubunto;
        background-color: #7449EB;
        border: none;
        transition: transform 0.5s;
        cursor: pointer;
    }

    .container {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

@media screen and (max-width: 1366px) {
    .left {
        display: none;
    }

    .right {
        width: 100%;
    }

    .container {
        width: 80%;
    }

    .container-inputs {
        width: 100%;
        justify-content: left;
        align-items: baseline;
        margin: 0;
        padding: 0;

    }

    .container-inputs input {
        width: 96%;

    }

    .inputs {
        width: 100%;
    }
}

@media (max-width: 431px) {

    .container-inputs input {
        width: 96%;


    }

    .inputs {
        width: 94.5%;

    }
}