@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    background-color: #111111;
}

* {
    margin: 0px;
    padding: 0%;
    color: #ffffff;
    font-family: 'Lato';
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-direction: row;
}

.cadastrarLogin {
    width: 70%;
    height: 80%;
    border-radius: 10px;
    background: rgb(77, 20, 199);
    background: linear-gradient(177deg, rgba(77, 20, 199, 1) 0%, rgba(90, 35, 163, 1) 44%, rgba(97, 61, 201, 1) 98%);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3%;
    justify-content: space-around;
}

.conteudoRight {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
}

.bemvindoP {
    font-size: 30px;
    font-weight: bold;
}

.bemvindoP2 {
    font-size: 30px;
    font-weight: bold;
    margin-top: -10%;
}

.textoRight {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.imgDash {
    width: 90%;
}

.left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111111;
}

.logo {
    display: flex;
    justify-content: center;
    margin-left: 15px;
}

.container {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    height: 95%;
    bottom: 0;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.titulo h1 {
    font-size: 36px;
    font-family: LatoBold;
}

.titulo p {
    margin-top: 19px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    font-family: LatoBold;
}

.left {
    display: flex;
    width: 50%;
    height: 100vh;
    background-color: #111111;
}

.container-inputs {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-inputs input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    border: 0.8px solid #9598C1;
    color: #9598C1;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    background: #1111;
    padding: 10px;
}

.inputs {
    margin-top: 4px;
}

.inputs p {
    font-family: LatoBold;
    margin-bottom: 6px;
}

.esqueceu_senha {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 15px;
}

.semconta {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: Lato;
    margin-top: 3%;
}

.semconta a {
    text-decoration: none;
    color: #3594BB;
    margin-left: 2px;
}

.login {
    margin-top: 30px;
}

.login button {
    width: 530px;
    height: 50px;
    font-family: 'Lato';
    background-color: #7449EB;
    border: none;
    transition: transform 0.5s;
    cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (max-width: 1366px) {

    *{
        font-family: 'Lato';
    }

    .right {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Lato';
        height: 100vh;
    }

    .logo {
        display: flex;
        font-family: 'Lato';
        justify-content: center;
    }

    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        font-family: 'Lato';
    }

    .titulo {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: 'Lato';
        margin-top: 5px;
    }

    .titulo h1 {
        font-size: 36px;
        font-family: 'Lato';
    }

    .titulo p {
        margin-top: 19px;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Lato';
    }

    .container-inputs {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        font-family: 'Lato';
        font-weight: bold;
        width: auto;
        height: 500px;
    }

    .container-inputs input {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        border: 0.8px solid #9598C1;
        color: #9598C1;
        font-family: 'Lato';
        font-size: 16px;
        font-style: normal;
        font-weight: bold;
        padding: 15px;
    }

    .inputs {
        margin-top: 10px;
        font-family: 'Lato';
        height: 30px;
    }

    .inputs p {
        font-family: 'Lato';
        margin-bottom: -1px;
    }

    .login {
        font-family: 'Lato';
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login button {
        width: 190px;
        height: 30px;
        font-family: 'Lato';
        background-color: #7449EB;
        border: none;
        transition: transform 0.5s;
        cursor: pointer;
    }
}

@media (max-width: 431px) {

    .container-inputs input {
        width: 96%;
    }

    .inputs {
        width: 94.5%;
    }
}

select {
    width: 100%; /* Preenche toda a largura disponível */
    padding: 10px; /* Adiciona espaçamento interno */
    font-size: 16px; /* Define o tamanho da fonte */
    border: 2px solid 0.8px solid #9598C1; /* Define a cor e espessura da borda */
    border-radius: 5px; /* Bordas arredondadas */
    background-color: #111111; /* Cor de fundo */
    color: #495057; /* Cor do texto */
    outline: none; /* Remove o contorno padrão ao clicar */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Animação suave para as interações */
  }
  
  select:focus {
    border-color: #856c8b; /* Cor da borda quando o select é focado */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra ao focar */
  }
  
  option {
    color: #333; /* Cor do texto das opções */
    background-color: #fff; /* Cor de fundo das opções */
  }
  