/* Estilo global */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #000000;
    /* Fundo preto */
    color: #ffffff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.pai {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 8px;
    
}

/* Navegação */
.header {
    width: 100%;
    background-color: #000000;
    padding: 10px 0;
    border-bottom: #b19cd9 2px solid;
    box-shadow: 0px 6px 10px rgba(220, 168, 236, 0.664);
}

.navbar {
    display: flex;
    justify-content: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.item-nav {
    margin: 0 20px;
}

.item-nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.item-nav a:hover {
    color: #b19cd9;
    /* Cor de destaque para hover */
}

/* Título e sessão de previsões */
.previsao {
    width: 80%;
    margin-right: 200px;
    margin-bottom: 10px;
}

.previsao h2 {
    font-size: 24px;
}

.alinha {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    height: 170px;
    width: 200px;
    background-color: #1e0330;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 0px 4px 10px rgba(87, 86, 86, 0.3);
}

.componentes {
    border: #170125 1px solid;
    background-color: #170125;
    height: 60px;
    width: 90px;
    padding-top: 5px;
    display: flex;
    justify-content: space-evenly;
    padding-right: 2px;
    padding-left: 2px;
}

.mediaepico {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.abaixo {
    position: relative;
    /* Pode ajustar para 'absolute' se necessário */
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 80%;
}


.ranking {
    align-items: center;
    margin-left: 18px;
    height: 550px;

}

.listaRanking {
    background-color: #7449EB;
    height: 500px;
    width: 500px;
    border-radius: 3px;
    color: #fff;
    overflow-y: auto;
}

.listaRanking table {
    width: 100%;
    color: #ffffff;
    border-collapse: collapse;
}

.listaRanking th,
.listaRanking td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #b19cd9;
}

.tendencia {
    margin-top: 80px;
    margin-left: 55px;
}

.graficoTendencia {
    background-color: #7449EB;
    height: 420px;
    width: 500px;
    border-radius: 3px;
}

.MapaCalor {
    align-items: center;
    margin-top: 80px;
    margin-left: 70px;

}

.graficoMapaDeCalor {
    background-color: #7449EB;
    height: 420px;
    width: 500px;
    border-radius: 3px;
}

.apexcharts-tooltip {
    color: #000 !important; /* Define o texto do tooltip como preto */
    background-color: #fff !important; /* Altere o fundo, se necessário */
}