/* Estilo global */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #000000;
    /* Fundo preto */
    color: #ffffff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.pai {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-left: 10px;
}

.NavBar {
    display: flex;
    flex-direction: row; /* Mantém os itens na horizontal */
    width: 100vw;
    height: 7%;
    border-bottom: 2px #7449EB solid;
    align-items: center;
    justify-content: space-between; /* Distribui o espaço entre logo e itens */
    padding: 0 20px; /* Adiciona espaçamento interno */
    box-sizing: border-box; /* Garante que padding não afete o tamanho total */
}

.div1 {
    display: flex;
    flex-direction: row; /* Coloca os itens lado a lado */
    gap: 20px; /* Espaçamento entre os itens */
}

.botaoNavBar {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.LogoNavBar {
    display: flex;
    height: 45px;
    width: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  

/* Título e sessão de previsões */
.previsao {
    width: 80%;
    margin-right: 180px;
    margin-bottom: 10px;
    padding-left: 1%;
}

.previsao h2 {
    font-size: 30px;
}

.alinha {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    height: 170px;
    width: 200px;
    background-color: #1e0330;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(188, 188, 188, 0.3);
}

.componentes {
    border: #170125 1px solid;
    background-color: #170125;
    height: 50px;
    width: 90px;
    
    display: flex;
    justify-content: space-evenly;
    padding-right: 2px;
    padding-left: 2px;
}

.mediaepico {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    padding-right: 20px;
}

.abaixo {
    position: relative;
    /* Pode ajustar para 'absolute' se necessário */
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
    width: 100%;
    height: 80%;
}


.ranking {
    align-items: center;
    margin-left: 18px;
    height: 550px;
    transform: translate(0%, -12%);
}

.listaRanking {
    background-color: #7449EB;
    height: 445px;
    width: 500px;
    border-radius: 10px;
    color: #fff;
    overflow-y: auto;
    box-shadow: 0px 4px 10px rgba(188, 188, 188, 0.3);
}

.listaRanking table {
    width: 100%;
    color: #ffffff;
    border-collapse: collapse;
}

.listaRanking th,
.listaRanking td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #b19cd9;
}

.tendencia {
    margin-top: 80px;
    margin-left: 85px;
    transform: translate(0%, -22%);
}

.graficoTendencia {
    background-color: #7449EB;
    height: 370px;
    width: 500px;
    border-radius: 10px;
    align-items: center;
    text-align: center;

    box-shadow: 0px 4px 10px rgba(188, 188, 188, 0.3);
}

.MapaCalor {
    align-items: center;
    margin-top: 80px;
    margin-left: 70px;
    transform: translate(0%, -15%); 
}

.graficoMapaDeCalor {
    background-color: #7449EB;
    height: 370px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(188, 188, 188, 0.3);
    z-index: -1;
}

.apexcharts-tooltip {
    color: #000 !important; /* Define o texto do tooltip como preto */
    background-color: #fff !important; /* Altere o fundo, se necessário */
}

.tendencia select {
    width: 100%; /* Ajusta para preencher toda a largura da div */
    height: 35px; /* Altura do campo */
    padding: 5px 2px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho do texto */
    font-weight: 500;
    color: #ffffff; /* Cor do texto */
    background-color: #7449EB; /* Fundo roxo */
    border: 2px solid #ab7cd6; /* Borda roxa escura */
    border-radius: 8px; /* Arredondamento */
    appearance: none; /* Remove o estilo padrão do navegador */
    outline: none; /* Remove o contorno padrão ao focar */
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra */
    transition: all 0.3s ease;
    transform: translate(0%, -15%);
}

/* Adicionando seta customizada para o select */
.tendencia select::-ms-expand {
    display: none; /* Remove a seta padrão no IE */
}

.tendencia select::after {
    content: "▼"; /* Adiciona uma seta como ícone */
    position: absolute;
    right: 12px;
    pointer-events: none;
}

/* Efeito ao passar o mouse */
.tendencia select:hover {
    background-color: #9C27B0; /* Fundo roxo mais claro */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Sombra mais intensa */
}

/* Efeito ao focar (quando clicado) */
.tendencia select:focus {
    border-color: #D1C4E9; /* Borda roxa clara */
    background-color: #7B1FA2; /* Fundo roxo escuro */
}

/* Estilização opcional para os itens do dropdown */
.tendencia select option {
    color: #333; /* Cor do texto das opções */
    background: #F3E5F5; /* Fundo claro */
    padding: 8px;
}

/* Centraliza a div do select */
.tendencia .select-server .select-componente {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
}

.alinha-select {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.fechar {
    background-color: #8f46bc;
    width: 70px;
    height: 25px;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 4px 10px rgba(110, 17, 136, 0.3);
    margin-top: 7px;
}

/*DIV COMPONENTES*/

/* Estilo das seções para RAM e CPU */
.mediaRam, .mediaCpu, .picoRam, .picoCpu {
    display: none; /* Oculto por padrão */
    position: fixed;
    width: 500px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 8px;
    z-index: 20; /* Acima do overlay */
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.mediaRam h4, .mediaCpu h4, .picoRam h4, .picoCpu h4 {
    color: #9b4dca;
}

.mediaRam hr, .mediaCpu hr, .picoRam hr, .picoCpu hr {
    border: 1px solid #9b4dca;
}

/* Tabelas */
.mediaRam table, .mediaCpu table, .picoRam table, .picoCpu table {
    width: 500px;
    border-collapse: collapse;
}

.mediaRam .table-header, .mediaCpu .table-header, .picoRam .table-header, .picoCpu .table-header {
    background-color: #dedddda0;
    text-align: left;
    font-weight: bold;
}

.mediaRam th, td, .mediaCpu th, td, .picoRam th, td, .picoCpu th, td {
    padding: 9px;
    /* border: 1px solid #444; */
}

.mediaRam th, .mediaCpu th, .picoRam th, .picoCpu th {
    color: #9b4dca;
}
.mediaRam td, .mediaCpu td, .picoRam td, .picoCpu td {
    color: #000;
}
/* Tooltip Container */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 999;
}

/* Tooltip Text */
.tooltiptext {
    visibility: hidden;
    width: 310px;
    background-color: #2c2c2c;
    color: #fff;
    text-align: left;
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    position: absolute;
    top: 125%;
    left: 10%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    line-height: 1.4;
    z-index: 1;
}


/* Tooltip Text Arrow */
.tooltiptext::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #2c2c2c transparent;
    z-index: 1;
}

/* Show Tooltip on Hover */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(-5px);
    z-index: 999;
}

/* Tooltip Icon */
.tooltip .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: #faf05e;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    transition: transform 0.3s ease;
}

/* Tooltip Icon Hover Effect */
.tooltip .icon:hover {
    transform: scale(1.1);
    background-color: #4500b3;
    z-index: 1;
}

/* Estilo Geral da Seção OEE */
.oee {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 19px auto;
    background-color: #1e0330;
  
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    width: 1500px;
    height: 150px;
    font-family: 'Arial', sans-serif;
    margin-right: 150px;
}

/* Título da seção ou elementos principais */
.oee h4 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    text-align: center;
}

/* Estilo do elemento de seleção */
#select-oee {
    width: 50%;
    margin-top: 7px;
    margin-bottom: 5px;
    padding: 2px;
    background-color: #1e0330;
    justify-content: flex-end;
    display: flex;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #666;
    font-size: 1rem;
    cursor: pointer;
}

/* Hover e interatividade */
#select-oee:hover {
    background-color: #1e0330;
    border-color: #bbb;
}