* {
    padding: 0;
    margin: 0;
  }

  body {
    background-color: black;
    overflow-x: hidden;
  }
  
  .NavBar {
    display: flex;
    width: 100vw;
    height: 7%;
    border-bottom: 2px #7449EB solid;
    align-items: center;
  }
  
  .LogoNavBar {
    display: flex;
    height: 45px;
    width: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .botaoNavBar {
    text-decoration: none;
    color: white;
    padding-right: 20px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .div1 {
    display: flex;
    margin-left: 65%;
  }
  
  .Monitoramento {
      justify-content: center;
      align-items: center;
  }
  
  .TituloBem-Vindo {
    display: flex;
    color: white;
    margin-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .Paragrafo_Bem-vindo {
    display: flex;
    padding-top: 20px;
    font-size: 20px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .div1-container {
    display: flex;
    justify-content: flex-start;
    /* flex-direction: column-reverse; */
  }
  
  .box1 {
    display: flex;
    position: absolute;
    height: 340px;
    justify-content: center;
    width: 100%;
    background-color: black;
    border-radius: 20px;
    margin-top: 430px;
    flex-direction:row ;
  }
  
  .box2 {
    display: flex;
    height: 150px;
    width: 1000px;
    /* background-color: white; */
    border-radius: 20px;
    margin-top: -90px;
    /* margin-top: 100px;  */
    margin-left: 100px;
  }
  
  .DivAlertas {
    width: 420px;
    height: 240px;
    background-color: #7449EB;
    border-radius: 20px;
    margin-left: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
}

  
  .tituloAlertas {
    margin-top: -290px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .container {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    gap: 20px; 
    padding: 10px;
    box-sizing: border-box;
}

.DivComponente {
  flex: 1 1 300px;
  max-width: 440px;
  height: auto;
  max-height: 240px;
  background-color: #7449EB;
  border-radius: 20px;
  margin: 10px;
  padding: -11px; 
  box-shadow: 5px 5px 15px rgb(0, 0, 0);
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; 
  gap: 1px; 
}

.DivComponente > * {
  margin: 0; 
}


.tituloTabela {
    display: flex;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.listaServidores {
    width: 100%;
    height: 370px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

.listaServidores table {
    width: 100%;
    table-layout:fixed; 
}

.listaServidores th {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 15px;
    margin-bottom: 1px;
    color: white;
    font-size: 15px;
    text-align: center;
    border-bottom: 1px solid #7449EB ;
}

.listaServidores td {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 60px;
    color: white;
    padding-right: 15px;
    margin-bottom: 1px;
    font-size: 15px;
    text-align: center;
    border-bottom: 1px solid #7449EB ;
} 

.listaServidores::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.listaServidores::-webkit-scrollbar-thumb {
    background-color: #a098d3;
    border-radius: 10px;
}

.listaServidores::-webkit-scrollbar-thumb:hover {
    background-color: #351d79;
}

.TituloComponentes {
    color: white;
    /* margin-top: -100px; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 20px; 
}

  
  .card1 {
    display: flex;
    height: 140px;
    width: 200px;
    margin-left: 100px;
    border-radius: 20px;
    margin-top: -10px;
    background-color: #7449EB;
    justify-content: center;
  }

  .div-pai{
    /* display: flex; */
    margin-top: 150px;
    align-items: center;
  }

  .graficos{
    margin-left: -400px;
  }
  
  .textoCard1 {
    display: flex;
    margin-top: 60px;
    margin-right: 10px;
    position: absolute;
    height: 60px;
    width: 90px;
    color: #7449EB;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
  }

  .textoCard2 {
    display: flex;
    margin-top: 60px;
    margin-right: 10px;
    position: absolute;
    height: 60px;
    width: 90px;
    color: #7449EB;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
  }

  .textoCard3 {
    display: flex;
    margin-top: 60px;
    margin-right: 10px;
    position: absolute;
    height: 60px;
    width: 90px;
    color: #7449EB;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
  }

  /* .card2 {
    display: flex;
    height: 300px;
    width: 630px;
    margin-left: 100px;
    border-radius: 20px;
    background-color: #7449EB;
    justify-content: center;
    align-items: center;
  } */
     
  .card3 {
    display: flex;
    position: absolute;
    height: 220px;
    width: 300px;
    margin-left: 480.5px;
    margin-top: 120px;
    border-radius: 20px;
    background-color: #7449EB;
    justify-content: center;
  }
  
  .Titulo_Grafico_CPU {
    display: flex;
    position: absolute;
    height: 220px;
    width: 300px;
    margin-left: 485.5px;
    margin-top: 90px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .card4 {
    display: flex;
    position: absolute;
    height: 220px;
    width: 300px;
    margin-left: 800px;
    margin-top: 120px;
    border-radius: 20px;
    background-color: #7449EB;
    justify-content: center;
  }
  
  .Titulo_Grafico_Memoria {
    display: flex;
    position: absolute;
    height: 220px;
    width: 300px;
    margin-left: 805.5px;
    margin-top: 90px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .card5 {
    display: flex;
    position: absolute;
    height: 220px;
    width: 300px;
    margin-left: 1120px;
    margin-top: 120px;
    border-radius: 20px;
    background-color: #7449EB;
    justify-content: center;
  }
  
  .Titulo_Grafico_Disco {
    display: flex;
    position: absolute;
    height: 220px;
    width: 300px;
    margin-left: 1125.5px;
    margin-top: 90px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .card6 {
    display: flex;
    position: absolute;
    height: 220px;
    width: 300px;
    margin-left: 480.5px;
    margin-top: -300px;
    border-radius: 20px;
    background-color: #7449EB;
    justify-content: center;
  }
  
  .textoCard6 {
    color: white;
    position: absolute;
    margin-left: 500px;
    margin-top: -340px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .card7 {
    display: flex;
    position: absolute;
    height: 200px;
    width: 620px;
    margin-left: 800px;
    margin-top: -780px;
    border-radius: 20px;
    background-color: #7449EB;
    justify-content: center;
  }
  
  .TituloCard7 {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .card8 {
    display: flex;
    position: absolute;
    height: 300px;
    width: 620px;
    margin-left: 680px;
    margin-top: -290px;
    border-radius: 20px;
    background-color: #7449EB;
    justify-content: center;
  }
  
  .TotalServidores {
    display: flex;
    margin-top: 15px;
    font-size: 20px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .statusSservidores {
    display: flex;
    /* position: absolute; */
    margin-left: 100px;
    margin-top: 10px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  /* FONTES
  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  } */