@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Lato", serif;
    overflow-x: hidden;
}

body {
    background: #464646;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.pai {
    background: #121212;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pai-menu {
    background: transparent;
    width: 70%;
    height: 14%;
    justify-content: center;
    align-items: center;
    margin-left: -18%;
}

.filho-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    font-family: "Lato", serif;
    font-size: 11px;
    width: 100%;
    height: 100%;
    background: transparent;
    gap: 10px;
}

.logo {
    width: 40px;
    height: 40px;
}

.button-escolher {
    width: 16%;
    height: 7%;
    border-radius: 90px;
    border: solid 2px #e234d4;
    background: #5532b6bd;
    z-index: 9;
    position: absolute;
    top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-escolher:hover {
    cursor: pointer;
}

.blurEscolher {
    width: 30%;
    position: absolute;
    top: 16px;
}

#escolher {
    background: transparent;
    border: none;
    color: #fff;
    outline: none;
}

#escolher {
    cursor: pointer;
}

option {
    background: #121212;
}

.pai-conteudo,
.pai-conteudo2,
.pai-conteudo3,
.pai-conteudo4,
.pai-conteudo5 {
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 27px;
    display: flex;
}

.pai-menu-lateral {
    height: 80%;
    width: 20%;
    margin-left: 4.9%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3%;
    z-index: 999;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    background: #5532b6bd;
    width: 60px;
    height: 200px;
    border-radius: 70px;
    margin-left: 6%;
    align-items: center;
    gap: 15px;
    margin-top: 4%;
    overflow: hidden;
}

.circulo-home {
    background: #D9D9D9;
    border-radius: 50px;
    width: 98%;
    height: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    overflow: hidden;
}

.icon-menu-bg {
    width: 80%;
}

.icon-menu-bg:hover {
    cursor: pointer;
}

.icon-menu {
    width: 35px;
    background: transparent;
    border: none;
}

.icon-menu:hover {
    cursor: pointer;
}

.icon-menuExit {
    width: 35px;
    background: transparent;
    border: none;
    margin-left: 20px;
}

.icon-menuExit:hover {
    cursor: pointer;
}

.blurEsquerda {
    position: absolute;
    width: 30.8%;
    z-index: 999;
    left: 0;
}

.icon-menu-exit {
    width: 35px;
    margin-left: 5%;
}

.icon-menu-exit:hover {
    cursor: pointer;
}

.filho-conteudo {
    width: 100%;
    height: 90%;
    border-radius: 27px;
    margin-left: -150px;
    margin-top: 3.7%;
    display: flex;
    flex-direction: column;
}

.conteudo-menu {
    width: 17%;
    color: #D9D9D9;
    font-size: 30px;
    overflow-y: hidden;
}

.dash-pai {
    width: 100%;
    height: 100%;
    display: flex;
}

.dash-filho1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 27px;
}

.title-dashConsumo {
    font-weight: bold;
    font-size: 30px;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(150, 150, 150), rgb(69, 70, 70));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}

.dash-cpuConsumo {
    width: 92%;
    height: 45%;
    background: #5532b6af;
    backdrop-filter: blur(90px);
    border: solid 2px #e234d4;
    border-radius: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-contexto {
    width: 92%;
    height: 45%;
    background: #5532b6af;
    backdrop-filter: blur(90px);
    border: solid 2px #e234d4;
    border-radius: 27px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card-contextoDisco{
    width: 100%;
    height: 85%;
    background: #5532b6af;
    backdrop-filter: blur(90px);
    border: solid 2px #e234d4;
    border-radius: 27px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title-dashMudanca {
    font-weight: bold;
    font-size: 30px;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(150, 150, 150), rgb(69, 70, 70));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}


#porcent_serv {
    margin-top: 10%;
    font-size: 35px;
}

#n_alertas{
    margin-top: 10%;
    font-size: 35px;
}

#porcent_alerta{
    margin-top: 10%;
    font-size: 35px;
}

#porcent_alertaRam{
    margin-top: 10%;
    font-size: 35px;
}

#porcent_alertaDisco{
    margin-top: 10%;
    font-size: 35px;
}

#porcent_alertaRede{
    margin-top: 10%;
    font-size: 35px;
}

#n_servicos{
    margin-top: 10%;
    font-size: 35px;
}

#n_servicos{
    margin-top: 10%;
    font-size: 35px;
}

#n_alertasRam{
    margin-top: 10%;
    font-size: 35px;
}

#totalRam{
    margin-top: 10%;
    font-size: 35px;
}

#totalSwap{
    margin-top: 10%;
    font-size: 35px;
}

#n_alertasDisco{
    margin-top: 10%;
    font-size: 35px;
}

#totalDisco{
    margin-top: 10%;
    font-size: 35px;
}

#discoLivre{
    margin-top: 10%;
    font-size: 35px;
}

#alertaRede{
    margin-top: 10%;
    font-size: 35px;
}

.dash-filho2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    border-radius: 27px;
    height: 100%;
}

.dash-filho3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    border-radius: 27px;
    height: 100%;
}

.title-card {
    margin-top: -20px;
    color: #D9D9D9;
}

.card-numeros {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-evenly;
}

.card-numeros1 {
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
}


.card-numeros-memoria {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    align-items: center;
    gap: 10px;
}

.card-numeros-memoria2 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    align-items: center;
    gap: 10px;
}

.card-risco-pai{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    width: 25%;
    background: #5532b6bd;
    border: solid 2px #e234d4;
    border-radius: 27px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D9D9D9;
    font-weight: bold;
    flex-direction: column;
}

.card-risco {
    width: 25%;
    background: #5532b6bd;
    border: solid 2px #e234d4;
    border-radius: 27px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D9D9D9;
    font-weight: bold;
    flex-direction: column;
    backdrop-filter: blur(5px);
}

.card-risco-rede {
    width: 35%;
    background: #5532b6bd;
    border: solid 2px #e234d4;
    border-radius: 27px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D9D9D9;
    font-weight: bold;
    flex-direction: column;
    backdrop-filter: blur(5px);
}

.card-risco2 {
    width: 45%;
    background: #5532b6bd;
    border: solid 2px #e234d4;
    border-radius: 27px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D9D9D9;
    font-weight: bold;
    flex-direction: column;
    backdrop-filter: blur(5px);
}

.card-risco3 {
    width: 50%;
    height: 100%;
    background: #5532b6bd;
    border: solid 2px #e234d4;
    border-radius: 27px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D9D9D9;
    font-weight: bold;
    flex-direction: column;
    backdrop-filter: blur(5px);
}


.dash-cpuConsumo2 {
    width: 87%;
    height: 45%;
    background: #5532b6af;
    backdrop-filter: blur(10px);
    border: solid 2px #e234d4;
    border-radius: 27px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    align-items: center;
}

.blurDireita {
    position: absolute;
    width: 30%;
    z-index: 1;
    right: 0;
}

/*Estilização gráficos*/

canvas{
    width: 80% !important;
    height: 85% !important;
}

/*Estilização da modal de alertas*/

.containerAlerta{
    width: 50%;
    height: 95%;
    margin-left: 17%;
    margin-top: -2%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    overflow-y: hidden;
    flex-direction: column;
    background: #5532b6bd;
    border-radius: 10%;
}

.inputAlerta{
    width: 35%;
    height: 7%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #e234d4;
    outline: none;
    color: #e234d4;
}

.inputAlerta:focus{
    border-bottom: 2px solid #e234d4;
}

.containerAlerta h1{
    color: #fff;
    font-size: 12px;
}
