* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.NavBar {
  display: flex;
  flex-direction: row; /* Mantém os itens na horizontal */
  width: 100vw;
  height: 7%;
  border-bottom: 2px #7449EB solid;
  align-items: center;
  justify-content: space-between; /* Distribui o espaço entre logo e itens */
  padding: 0 20px; /* Adiciona espaçamento interno */
  box-sizing: border-box; /* Garante que padding não afete o tamanho total */
}

.LogoNavBar {
  display: flex;
  height: 45px;
  width: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.botaoNavBar {
  text-decoration: none;
  color: white;
  padding-right: 20px;
  font-size: 20px;

}


.div1 {
  display: flex;
  align-items: center;
  flex-direction: row; /* Coloca os itens lado a lado */
  gap: 20px; /* Espaçamento entre os itens */
}

.Monitoramento {
  justify-content: center;
  align-items: center;
  margin-left: 80px;
}

.TituloBem-Vindo {
  display: flex;
  color: white;
  margin-top: 20px;

}

.Paragrafo_Bem-vindo {
  display: flex;
  padding-top: 20px;
  font-size: 20px;
  color: white;
}

.div1-container {
  display: flex;
  justify-content: flex-start;
}

.box1 {
  display: flex;
  position: absolute;
  height: 260px;
  justify-content: space-evenly;
  width: 100%;
  margin-left: -80px;
  border-radius: 20px;
  margin-top: 540px;
  flex-direction: row;
}

.box2 {
  display: flex;
  height: 150px;
  width: 1000px;
  border-radius: 20px;
  margin-top: -90px;
  margin-left: 100px;
}

.DivAlertas {
  width: 420px;
  height: 240px;
  background-color: #7449EB;
  border-radius: 20px;
  margin-left: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  box-shadow: 5px 5px 15px rgb(0, 0, 0);
}


.tituloAlertas {
  margin-top: -290px;
  color: white;
}

.container {
  display: flex;
  gap: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.DivComponente {
  flex: 1 1 300px;
  max-width: 440px;
  height: auto;
  max-height: 240px;
  background-color: #7449EB;
  border-radius: 20px;
  margin: 10px;
  padding: -11px;
  box-shadow: 5px 5px 15px rgb(0, 0, 0);
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.DivComponente>* {
  margin: 0;
}


.tituloTabela {
  display: flex;
  border: 2px solid white;
}

.tituloTabela tr {
  font-size: 25px;
  background-color: black;
  border: 2px solid white;
}

.tituloTabela td {
  font-size: 25px;
  background-color: black;
  border: 2px solid white;
}

.Tabela {
  margin-left: 0px;
}

.Tabela2 {
  margin-left: 0px;
  border: 2px solid white;
}

.listaServidores {
  width: 100%;
  height: 370px;
  overflow-y: unset;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
}

.listaServidores table {
  width: 100%;
  table-layout: fixed;
  justify-content: space-between;

}

.listaServidores th {
  padding: 15px;
  margin-bottom: 1px;
  color: white;
  font-size: 15px;
  text-align: center;
  border-bottom: 1px solid #7449EB;
  justify-content: space-between;
}

/* Estilo geral da tabela */
#tabela-servidores {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

/* Estilo para cabeçalho */
#tabela-servidores thead th {
  padding: 1px 5px;
  text-align: left;
}

/* Estilo para corpo da tabela */
#tabela-servidores tbody tr {
  margin-bottom: 10px;
}

/* Estilo para células */
#tabela-servidores th,
#tabela-servidores td {
  padding: 5px 20px;
  text-align: left;
}


.listaServidores td {

  padding: 60px;
  color: white;
  padding-right: 15px;
  margin-bottom: 1px;
  font-size: 15px;
  text-align: center;
  justify-content: space-between;
  border-bottom: 1px solid #7449EB;
}

.listaServidores::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  margin-left: 20px;
}

.listaServidores::-webkit-scrollbar-thumb {
  background-color: #a098d3;
  border-radius: 10px;
  margin-left: 10px;
}

.listaServidores::-webkit-scrollbar-thumb:hover {
  background-color: #351d79;

}

.TituloComponentes {
  color: white;
  /* margin-top: -100px; */

  margin-top: 20px;
  justify-content: space-between;
}


.cardDesativados {
  display: flex;
  height: 160px;
  width: 280px;
  margin-left: 30px;
  border-radius: 20px;
  margin-top: -10px;
  background-color: #7449EB;
  justify-content: center;
}

.card1 {
  display: flex;
  height: 140px;
  width: 200px;
  margin-left: 110px;
  border-radius: 20px;
  margin-top: -10px;
  background-color: #7449EB;
  justify-content: center;
}

.cardAtivados {
  display: flex;
  height: 140px;
  width: 200px;
  margin-left: 20px;
  border-radius: 20px;
  margin-top: -10px;
  background-color: #7449EB;
  justify-content: center;
}

.div-pai {
  /* display: flex; */
  margin-top: 150px;
  align-items: center;
}

.graficos {
  margin-left: -400px;
}

.textoCard1 {
  display: flex;
  margin-top: 60px;
  margin-right: 10px;
  position: absolute;
  height: 60px;
  width: 90px;
  color: #7449EB;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  background-color: white;

  border-radius: 20px;
}

.textoCard2 {
  display: flex;
  margin-top: 80px;
  margin-right: 10px;
  position: absolute;
  height: 60px;
  width: 90px;
  color: #7449EB;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  background-color: white;

  border-radius: 20px;
}

.textoCard3 {
  display: flex;
  margin-top: 50px;
  margin-right: 10px;
  position: absolute;
  height: 60px;
  width: 90px;
  color: #7449EB;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  background-color: white;

  border-radius: 20px;
}

.card3 {
  display: flex;
  position: absolute;
  height: 300px;
  width: 500px;
  margin-left: 180.5px;
  margin-top: -190px;
  border-radius: 20px;
  background-color: #7449EB;
  justify-content: center;
}

.Titulo_Grafico_CPU {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 220px;
  width: 300px;
  margin-left: 180.5px;
  margin-top: 90px;
  font-size: 18px;
  color: white;
}

.card4 {
  display: flex;
  position: absolute;
  height: 300px;
  width: 500px;
  margin-left: 695.5px;
  margin-top: -190px;
  border-radius: 20px;
  background-color: #7449EB;
  justify-content: center;
}

.Titulo_Grafico_Memoria {
  display: flex;
  position: absolute;
  height: 220px;
  width: 300px;
  margin-left: 695.5px;
  font-size: 18px;
  margin-top: -215px;
  color: white;
}

.card5 {
  display: flex;
  position: absolute;
  height: 300px;
  width: 500px;
  margin-left: 1210px;
  margin-top: -190px;
  border-radius: 20px;
  background-color: #7449EB;
  justify-content: center;
}

.Titulo_Grafico_Disco {
  display: flex;
  position: absolute;
  font-size: 18px;
  height: 220px;
  width: 300px;
  margin-left: 1225.5px;
  margin-top: -215px;
  color: white;

}

.card6 {
  display: flex;
  position: absolute;
  height: 220px;
  width: 300px;
  margin-left: 480.5px;
  margin-top: -300px;
  border-radius: 20px;
  background-color: #7449EB;
  justify-content: center;
}

.textoCard6 {
  color: white;
  position: absolute;
  margin-left: 500px;
  margin-top: -340px;

}

.card7 {
  display: flex;
  position: absolute;
  height: 200px;
  width: 620px;
  margin-left: 800px;
  margin-top: -780px;
  border-radius: 20px;
  background-color: #7449EB;
  justify-content: center;
}

.TituloCard7 {
  color: white;

}

.card8 {
  display: flex;
  position: absolute;
  height: 300px;
  width: 620px;
  margin-left: 680px;
  margin-top: -290px;
  border-radius: 20px;
  background-color: #7449EB;
  justify-content: center;
}

.TotalServidores {
  display: flex;
  margin-top: 15px;
  font-size: 20px;
  color: white;
}

.TotalServidoresDesativados {
  display: flex;
  margin-top: 0px;
  font-size: 20px;
  color: white;
  /* margin-left: 85px; */
}

.statusSservidores {
  display: flex;
  /* position: absolute; */
  margin-left: 100px;
  margin-top: 10px;
  color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin-top: -100px;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: #7449EB;
  color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid white;
  width: 60%;
  overflow-y: auto;
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  width: 250px;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  bottom: 105%;
  font-size: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 1) transparent transparent transparent;
}

.titulo-grafico:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.titulo_Componente_Por_Servidor {
  color: white;
  position: absolute;
  margin-top: -40px;
  margin-left: 10px;
}

.Titulo_Alertas_Por_Componente {
  color: white;
  position: absolute;
  margin-top: -30px;
  margin-left: 680px;
}