@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    background-color: black;
    margin: 0;
    margin-bottom: 0;
}

#tela1 {
    overflow-x: hidden;
}

.svg_Linhas {
    bottom: 0%;
    display: flex;
    height: 100vh;
    padding-left: 90.0%;
    overflow-y: hidden;
    position: absolute;
    justify-content: flex-end;
    z-index: -10;
    width: 10%;
}

.Logo_Nome {
    padding-top: 2%;
}

.NomeEmpresa {
    font-family: 'Lato';
    margin-top: -4.5%;
    margin-left: 10%;
    color: white;
    font-size: 150%;
}

.h1_novoSistema {
    font-family: 'Lato';
    color: white;
    padding-top: 10%;
    margin-left: 7%;
    font-size: 2rem;
}

.button {
    font-family: 'Lato';
    font-size: 1.2rem;
    margin-left: 7%;
    margin-top: 5%;
    background-color: #7449EB;
    color: white;
    box-shadow: 0 0 5px;
    height: 40px;
    width: 150px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 2px solid #7449EB;
    z-index: 999;
}

.button:hover{
    cursor: pointer;
}

.p_paragrafo {
    color: white;
    margin-left: 7%;
    font-size: 25px;
    font-family: 'Lato';
}

@media only screen and (width: 1024px) {

    .NomeEmpresa {
        font-family: 'Lato';
        margin-top: -6.5%;
        margin-left: 15%;
        color: white;
        font-size: 150%;
    }

    .svg_Linhas {
        display: none;
    }

    .imgLogo {
        margin-left: 7%;
    }

    .Linhas_Roxas {
        height: 1000px;
        position: absolute;
    }

    .textos {
        margin-left: 25%;
        margin-top: 14%;
    }

}

@media only screen and (width: 768px) {

    .NomeEmpresa {
        font-family: 'Lato';
        margin-top: -8.8%;
        margin-left: 15%;
        color: white;
        font-size: 150%;
    }

    .svg_Linhas {
        display: none;
    }

    .imgLogo {
        margin-left: 5%;
    }

    .Linhas_Roxas {
        height: 1000px;
        position: absolute;
    }

    .textos {
        margin-left: 16%;
        margin-top: 9%;
    }

}

@media only screen and (max-device-width: 375px) {

    .NomeEmpresa {
        font-family: 'Lato';
        margin-top: -17.8%;
        margin-left: 30%;
        color: white;
        font-size: 150%;
    }

    .svg_Linhas {
        display: none;
    }

    .imgLogo {
        margin-left: 5%;
    }

    .Linhas_Roxas {
        height: 1000px;
        position: absolute;
    }

    .textos {
        margin-left: 3%;
        margin-top: 9%;

    }

}

@media only screen and (width: 1440px) {

    .NomeEmpresa {
        font-family: 'Lato';
        margin-left: 12%;
        color: white;
        font-size: 150%;
    }

    .svg_Linhas {
        display: none;
    }

    .imgLogo {
        margin-left: 5%;
    }

    .Linhas_Roxas {
        height: 1000px;
        position: absolute;
    }

    .textos {
        margin-left: 10%;
        font-size: 100px;
        margin-top: 9%;

    }

    .h1_novoSistema {
        font-size: 50%
    }

    .p_paragrafo{
        font-size: 50% ;
    }

}