* {
    padding: 0;
    margin: 0;
    font-family: Lato;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: #212121;
    display: flex;
    flex-direction: row;
}

.pai-lista{
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    width: 100%;
    height: 100%;
    gap: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5%;
    margin-left: -7%;
}

.tituloTabela{
    color: #7449EB;
}

.camposTabela, td{
    padding: 15px; 
    text-align: center;
    color: #fff; 
}
