body{
    background-color: black;
    width: 100%;
    height: 100vh;
   overflow: hidden;

}

.NavBar {
    display: flex;
    flex-direction: row; 
    width: 99%;
    height: 7%;
    border-bottom: 2px #7449EB solid;
    align-items: center;
    justify-content: space-between; /* Distribui o espaço entre logo e itens */
    padding: 0 20px; /* Adiciona espaçamento interno */
    box-sizing: border-box; /* Garante que padding não afete o tamanho total */
}

.div1 {
    display: flex;
    flex-direction: row; /* Coloca os itens lado a lado */
    gap: 20px; /* Espaçamento entre os itens */
}

.botaoNavBar {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.LogoNavBar {
    display: flex;
    height: 45px;
    width: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  /* Conteudo*/
  .conteudo{
    width: 100%;
    height: 90%;
    display: flex;

    & .direita{
        width: 65%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        & .textos{
            width: 100%;
            height: 30%;
            color: white;
            padding-left: 10%;
            font-family: Lato;
            
            & .opcoes{
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 40px;
                width: 20%;
                /* transition: ease s; */

                & button{
                    background-color: #7449EB;
                    width: 120px;
                    height: 30px;
                    color: white;
                    border: none;
                    border-radius: 10px;
                    font-family: Lato;
                    transition: ease 0.3s;
                }
            }
        }

        & .graficos{
            width: 100%;
            height: 70%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            

            & .direita, .esquerd{
                width: 45%;
                height: 80%;
                background-color: #7449EB;
                border-radius: 10px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-around;
                color: white;
                font-family: Lato;
                 transition: ease 0.5s;   

            }
            
        }

    }
    & .esquerda{
        width: 35%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        & .cima, .baixo{
            background-color: #7449EB;
            width: 95%;
            height: 40%;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            font-family: Lato;

        }
    }
  }



.conteudo .graficos .direita:hover{
    transform: scale(1.06);
 } 


 .conteudo #section3:hover{
    transform: scale(1.06);
 } 



.opcoes button:hover{
    transform: scale(1.05);
}