.navBar {
    width: 8%;
    height: 100vh;
    background-color: #F2ECF2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    left: 0;
    overflow: hidden;
    z-index: 1;
    border-radius: 0 10px 10px 0;
    transition: 0.5s ease;
    color: #7449EB !important;
}

.navBar:hover {
    transition: 0.6s;
    width: 20%;
    height: 100vh;
    background-color: #F2ECF2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    left: 0;
    overflow: hidden;
    z-index: 1;
    border-radius: 0 10px 10px 0;
}


.navBar:hover .botoesNav {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.navBar:hover .logoNav {
    width: 20%;
    text-decoration: none;
}

.navBar:hover .botoesNav p {
    display: inline-flex;
    text-decoration: none;
    text-decoration: none;

}

.botoesNav p {
    display: none;
    text-decoration: none;

}

.logoNav {
    width: 40%;
    transition: 0.5s ease;
    text-decoration: none;


}

.botoesNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding: 5%;
    background-color: #F2ECF2;
    height: 15%;
    font-family: Ubuntu;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;

}

.botoesNav:hover {
    background-color: #F2ECF2;
    text-decoration: none;

}

.linksNav {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;

}

.CaixalogoNav {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}

.exitNav {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-decoration: none;

}

.LinkImgNav {
    height: 70%;
    text-decoration: none;


}