* {
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

.NavBar {
    display: flex;
    width: 100vw;
    height: 7%;
    border-bottom: 2px #7449EB solid;
    align-items: center;
    overflow-x: hidden;
  }

.botoesNav p {
    display: none;
}

.logoNav {
    width: 40%;
    transition: 0.5s ease;
}

.LogoNavBar {
    display: flex;
    height: 45px;
    width: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .botaoNavBar {
    text-decoration: none;
    color: white;
    padding-right: 20px;
    font-size: 20px;
    
  }
  
  .div1 {
    display: flex;
    margin-left: 65%;
  }

.botoesNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding: 5%;
    background-color: #111111;
    height: 15%;
    color: white;
    font-family: Ubuntu;
    border-radius: 5px;
    cursor: pointer;
}

.botoesNav:hover {
    background-color: #1E1E1E;
}

.linksNav {
    height: 45%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.CaixalogoNav {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.exitNav {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.LinkImgNav {
    height: 70%;

}