* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

/* Tela Bem vindos */
.tela2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.imgBemVindo {
    width: 40%;
    height: 100%;
    background-color: #111111;
    margin-top: 20%;
    padding-left: 5%;
    background-repeat: no-repeat;
}

.conteudoBemVindo {
    height: 100%;
    width: 50%;
    margin-top: 10%;
    margin-left: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulosBemVindo {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}

.TituloBemVindos {
    height: 35%;
    width: 50%;
    top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
    color: white;
    font-size: 3.5rem;
    font-weight: 300;
    font-style: normal;
    position: relative;
}

.nomeDaEmpresaBemVindos {
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: top;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-size: 64px;
    font-style: normal;
    color: #7449EB;
}

.textosBemVindo {
    height: 40%;
    width: 100%;
    top: 8%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxTextosBemVindos {
    width: 75%;
    height: 90%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    color: white;
}

@media (max-width: 1041px) {
    .TituloBemVindos {
        width: 80%;
        font-size: 1rem;
    }

    .nomeDaEmpresaBemVindos {
        font-size: 1rem;
    }

    .boxTextosBemVindos {
        font-size: 1.3rem;
    }

    .imgBemVindo {
        width: 35%;
    }

    .conteudoBemVindo {
        width: 65%;
    }

}


@media (max-width: 1212px) {
    .TituloBemVindos {
        font-size: 3rem;
    }

    .nomeDaEmpresaBemVindos {
        font-size: 2.5rem;
    }


}

@media only screen and (max-device-width: 1366px) {
    .imgBemVindo {
        width: 50%;
        background-image: url(../img/Noise\ &\ TextureimgBemVindoTablet.png);
    }

    .conteudoBemVindo {
        height: 100%;
        width: 50%;
    }

    .Elementos {
        height: 15%;
        display: flex;
        position: absolute;
        top: 180vh;
        left: 95%;
    }

    .boxTextosBemVindos {
        width: 75%;
        height: 90%;
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.7rem;
        color: white;
    }

    .TituloBemVindos {
        height: 35%;
        width: 70%;
        top: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Lato", sans-serif;
        color: white;
        font-size: 2.8rem;
        font-weight: 300;
        font-style: normal;
        position: relative;
    }
}

@media only screen and (max-device-width:430px) {
    .imgBemVindo {
        display: none;
    }

    .conteudoBemVindo {
        width: 100%;

    }

    .boxTextosBemVindos {
        font-size: 1.5rem;
    }

    .Elementos {
        left: 85%;
    }
}

@media only screen and (min-device-height:1365px) {
    .imgBemVindo {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        background-color: #7449EB;
    }

    .Elementos {
        left: 90%;
    }
}