* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: #151a22;
}

.pai {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.imagem {
    height: 100%;
    width: 100%;
    background-size: contain;
}

.content-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 300vh;
}

.escrita {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.box {
    font-size: larger;
    height: 75%;
    width: 75%;
    display: flex;
    justify-content: center;
    text-align: center;
    border-style: solid;
    border-color: #a098d3;
    background-color: #a098d3;
    border-radius: 3%;
    align-items: center;
    flex-direction: column;
}

.top {
    height: 20%;
    width: 90%;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    left: 5%;
    position: relative;
    font-family: Ubuntu;
    color: white;
    font-size: 24px;
}

.mid {
    height: 30%;
    width: 100%;
}

.nome {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    flex-direction: row;
    font-family: Ubuntu;
}

.email {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.low {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 15%;
    height: 15%;
    border-radius: 5px;
    color: #000000;
    background-color: #FFF;
    border-color: #FFF;
    border: 1px;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
}

.desc {
    width: 88%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    color: white;
    font-family: Ubuntu;
    gap: 3%;
    font-size: 14px;
}

#area {
    width: 100%;
    height: 172px;
    border-radius: 10px;
    outline: none;
    padding: 2%;
}

.input_nome {
    color: rgb(255, 255, 255);
    width: 38%;
    height: 4vh;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
}

.input_email {
    color: rgb(255, 255, 255);
    width: 87%;
    height: 4vh;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
}

.input_nome,
.input_email:focus {
    outline: none;
}

input::placeholder {
    color: rgb(255, 253, 253);
    font-family: Ubuntu;
}

.main-footer {
    background-color: #151a22;
}

.icons-footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.icons-footer svg {
    width: 5%;
}

.foote-title {
    color: var(--Primaria-3-Brilho-87, #D5D6E6);
    font-family: Ubuntu;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.logo-quantum {
    width: 93px;
    height: 95px;
    flex-shrink: 0;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flw;
}

/*
.btn{
    border-radius: 5px;
    color: #000000;
    background-color: #FFF;
    border-color: #FFF;
    border: 1px;    
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100px;
    height: 30px;
}
.box-branca{
    width: 366px;
    height: 172px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    justify-content: center;
    text-align: center;
} */

@media only screen and (max-device-width:1366px) {
    .content-main {
        position: absolute;
        top: 300vh;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .imagem {
        display: none;
        position: absolute;
        left: 0;
    }

    .box {
        width: 35%
    }

    .video {
        display: flex;
        filter: contrast(130%);
        backdrop-filter: brightness(0.7);
    }
}

@media (max-width:1366px) {
    .content-main {
        position: absolute;
        top: 300vh;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .imagem {
        display: none;
        position: absolute;
        left: 0;
    }

    .video {
        display: flex;
        filter: contrast(130%);
        backdrop-filter: brightness(0.7);
    }

    .box {
        width: 35%
    }
}

/* Celular */
@media only screen and (max-device-width:430px) {
    .box {
        width: 80%;
    }

    .logo-quantum {
        width: 8%;
    }
}

@media only screen and (min-device-height:1365px) {
    .box {
        width: 75%;
    }
}