
.divisao{
    position: absolute;
    top: 97vh;
    display: flex;
    width: 100%;
    z-index: 10;

    
}



  
.tela3{
    height: 100vh;
    width: 100%;
    display: flex;
   background-color: #111111;
    align-items: center;
    flex-direction: column;
    gap: 3%;
}
.backgroundCarrossel{
    position: absolute;
    top: 100%;
    left: 53%;
    width: 50%;
    height: 100vh;
    background-image: url(../img/Banner\ sessao\ beneficios.svg);
    background-repeat: no-repeat;
    z-index: 1;

}
.boxTopCarrossel{
    height: 25%;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: left;
}
.boxTituloCarrossel{
    height: 100%;
    width: 35%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.tituloBeneficiosCarrossel{
 height: 50%;
 width: 80%;

 display: flex;
 justify-content: left;
 align-items: center;
 font-family: "Lato", sans-serif;
 color: white;
 font-size: 3.5rem;
 font-weight: 300;
 font-style: normal;
 position: relative;
 top: 10%;

}
.nomeEmpresaCarrossel{
    height: 50%;
    width: 80%;
  
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-size: 64px;
    font-style: normal;
    color: #7449EB;
    position: relative;

}
.boxLogoCarrossel{
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 5;
   

}
.LogoBeneficios{
    width: 28%;
}
.boxCarrossel{
    width: 100%;
    height: 50%;
    display: flex;   
    justify-content: center;
    align-items: center;
    background-color: #3d3d3d1f;
    z-index: 4;
    gap: 7%;
    backdrop-filter: blur(4px);
     
    scrollbar-color: rgb(255, 255, 255) #111111; /* Cor do "polegar" e da área de rastreamento */
    
  

}


.card{
    height: 70%;
    flex: 0 0 18%;

    border-radius: 2%;
    background-color: #2999C7;
    /* border: 5px solid white;
    animation: bordas infinite 10s linear; */

}

.card:hover{
    height: 80%;
    flex: 0 0 20%;
    transition: 0.5s;

    border-radius: 2%;
    background-color: #2999C7;
    /* border: 5px solid white;
    animation: bordas infinite 10s linear; */

}



/* @keyframes bordas {
    0%{
        border: 5px solid rgb(0, 229, 255);

    }
    25%{
        border: 5px solid rgb(55, 0, 255);
    }
    50%{
        border: 5px solid rgb(144, 0, 255);
    }
    75%{
        border: 5px solid rgb(193, 140, 233);
    }
} */


.ilustracaoCard{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Gradient.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 2%; 
    border-top-right-radius: 2%; 
}
.conteudoCard{
    height: 40%;
    width: 100%;
    padding-top: 8%;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 2%; 
    border-bottom-right-radius: 2%; 
    overflow: hidden;
   

}

.conteudoCard h3{
    margin-top: -5% ;
    font-family: "Lato", sans-serif;
    padding-top: 5%;
    color: white;
    font-size: 1.5rem;

}

.conteudoCard p{

    margin-top: 5% ;
    font-family: "Lato", sans-serif;
    padding: 5%;
    color: white;
    font-size: 1rem;

}
.conteudoCard:hover{
   transform: rotateY('angle');
   transition: 1S;
    height: 100%;
    width: 100%;
    background-color: #2999C7;
  left: 20%;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 5%; 
    border-bottom-right-radius: 5%; 
    color: black;
   

    

}

.imgCard{
    width: 35%;
}


